# Node modules (library hasil install)
node_modules/

# Environment variables (data sensitif)
.env
.env.development

# Cache & Build Files
.vscode/
dist/
out/
.cache/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies Lock File (opsional, kecuali mau dikunci versinya)
package-lock.json